// @flow
export const keybase = {
  username: 'blahbot',
  paperkey:
    'blah blah blu blu',
  channels: [
    {
      name: 'blah.bots',
      topicName: 'test',
      membersType: 'team',
      topic_type: 'chat',
    },
  ],
}

export const jira = {
  host: 'blah.atlassian.net',
  username: 'blah@example.com',
  password: 'password',
  usernameMapper: {
    "blah": "[~blahblah]",
  },
}
